---
layout: default
permalink: /draft.html
---

{% if site.posts.size > 0 %}
<ul>
  {% for post in site.posts %}
    {% if post.tags contains "draft" %}
      <li>
        <time datetime='{{ post.date | date_to_xmlschema }}'>
          {% assign date_format = site.date_format | default: '%b %-d, %Y' %}
          {{ post.date | date: date_format }}
        </time>
        <div>
          <a href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          </a>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% else %}
  <p>Пока постов нет</p>
{% endif %}

