---
layout: default
permalink: /draft.html
---
{% if site.posts.size > 0 %}
<table>
  <tr>
    <th>Дата</th><th>Ссылка</th>
  </tr>
  {% for post in site.posts %}
    {% if post.tags contains "draft" %}
      <tr>
        <td>
        <time datetime='{{ post.date | date_to_xmlschema }}'>
          {% assign date_format = site.date_format | default: '%b %-d, %Y' %}
          {{ post.date | date: date_format }}
        </time>
        </td>
        <td>
          <a href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          </a>
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
{% else %}
  <p>Пока постов нет</p>
{% endif %}

