<footer>
  {% assign site_footer_pages = site.pages | where: 'is_footer', true %}

  {% if site_footer_pages.size > 0 %}
    <ul>
      {% for site_footer_page in site_footer_pages %}
        <li>
          <a href='{{ site_footer_page.url | relative_url }}'>{{ site_footer_page.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <ul>
    {% if site.author %}
      {% if site.email %}
        <li>
          <a href='mailto:{{ site.email }}'>{{ site.author }}</a>
        </li>
      {% else %}
        <li>{{ site.author }}</li>
      {% endif %}
    {% endif %}

    {% if site.github_username %}
      <li>
        <a href='https://github.com/{{ site.github_username }}' title='github'>Github</a>
      </li>
    {% endif %}

    {% if site.twitter_username %}
      <li>
        <a href='https://twitter.com/{{ site.twitter_username }}' title='twitter'>X</a>
      </li>
    {% endif %}
   
  </ul>
</footer>
