---
layout: default
---

{% if site.posts.size > 0 %}
<ul>
  {% for post in site.posts %}
    {% unless (post.tags contains "archive" or post.tags contains "draft")  %}
      <li>
        <time datetime='{{ post.date | date_to_xmlschema }}'>
          {% assign date_format = site.date_format | default: '%b %-d, %Y' %}
          {{ post.date | date: date_format }}
        </time>
        <div>
          <a href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          </a>
        </div>
      </li>
    {% endunless %}
  {% endfor %}
</ul>
{% else %}
  <p>Пока постов нет</p>
{% endif %}


<div>
  <a href='/draft.html'>Черновики</a>
</div>

<div>
  <a href='/archive.html'>Архив</a>
</div>

